.wrapper {
	height: 100%;
	width: 1020px;
	margin: 0 auto;
	position: relative;
}
.heading {
	font-size: 28px;
	padding-top: 5%;
	padding-bottom: 1%;
}
.paragraph {
	padding-bottom: 3%;
}
.align-center {
	text-align: center;
}
.button {
	font-size: 13px;
	letter-spacing: 2px;
	background-color: #1bbc9b;
	cursor: pointer;
	height: 40px;
	border: 0px;
}
.uppercase {
	text-transform: uppercase;
}
.font-1 {
	font-family: LatoRegular, sans-serif;
}
.font-2 {
	font-family: LatoBold, sans-serif;
}
.font-3 {
	font-family: LatoLight, sans-serif;
}
.font-4 {
	font-family: LatoItalic, sans-serif;
}
.font-size-1 {
	font-size: 14px;
}
.font-size-2 {
	font-size: 55px;
}
.font-size-3 {
	font-size: 18px;
}
.color-1 {
	color: #444444;
}
.color-2 {
	color: #ffffff;
}