.contact_information{
	background-color: #7accc8; height: 693px;
}
.contact_information p {
	font-family: "HelveticaNeue Regular", Helvetica, sans-serif;
}
.contact_information a {
	font-size: 12pt; font-style: normal; color: #ffffff; text-decoration:none; text-transform: uppercase;
}
.list a {
	list-style-type: none;
	font-family: "HelveticaNeue Bold", Helvetica, sans-serif;
	text-transform: none;
}