.demo{
background-color: #ffffff; height: 693px;
}
.demo h3 {
	font-family: "Lato Bold", Lato, sans-serif; font-size: 15pt; color: #9197a8; text-transform: uppercase;
}
.demo p {
	font-size: 16pt; color: #7a8387;
}