.feature_ui {
	background-color: #f6f6f4; height: 693px;
}
.rectangle3 {
    background-color: #f69679;
}
.rectangle4 {
    background-color: #e8b968;
}
.feature_ui h4 {
	font-family: "Lato Light", Lato, sans-serif; font-size: 45pt;
}
.feature_ui p {
	font-family: "Lato Regular", Lato, sans-serif; font-size: 16pt; margin-left: 25px; margin-top:5px;
}
.feature_ui h5 {
	font-family: "Lato Bold", Lato, sans-serif; font-size: 15pt; color: #9197a8; text-transform: uppercase; margin-left: 25px;
}
.previous {
	display: inline; font-family: "Quicksand Bold", Quicksand, sans-serif; color: #959595; font-size: 24pt;
}
.next {
	display: inline; font-family: "Quicksand Bold", Quicksand, sans-serif; color: #555555; font-size: 24pt;
}