.page_starting{
	background-image: url(../../images/backgrounds/1background.png); background-repeat: no-repeat; height: 882px;
}
.page_starting h1 {
	padding-top: 250px; font-family: "Lato Light", Lato, sans-serif; font-size: 60pt; color: #ffffff; text-align: center;
}
.page_starting p {
	font-family: "Lato Italic", Lato, sans-serif; font-size: 17pt; color: #d0e7e9; text-align: center;
}
iframe {
	width: 450px; height: 300px; position: fixed; top: 0; left: 0;
}