body {
width:1600px;
}
.Contact_information p, ul {
	font-size: 14pt; color: #ffffff;
}
.Download_space p, h1 {
	color: #ffffff; 
}
.Feature_UI h4, p {
	color: #abbcc3;
}
.Contact_information a, .Demo p {
	font-family: Lato Regular;
}
.rectangle1, .rectangle2 {
	  background-color: #ffffff;
      float:left;
      width: 337px;
      height: 489px;
      margin: 13px;
}