.Feature_UI {
background-color: #f6f6f4; height: 693px;
}
      .rectangle3 {
      background-color: #f69679;
      float: left;
      position: absolute;
      width: 337px;
      height: 346px;
      margin: 13px;
      z-index: 10;
      }
      .rectangle4 {
      background-color: #e8b968;
      float: left;
      width: 337px;
      height: 346px;	  
      margin-left: -350px;
      margin-top: 13px;
      z-index: 10;
      }
.Feature_UI h4 {
	font-family: Lato Light; font-size: 45pt; font-weight: lighter;
}
.Feature_UI p {
	font-family: Lato Regular; font-size: 16pt;
}