@font-face{
	font-family: "Lato Light";
	src: url("../../fonts/lato/Lato Light.ttf");
}
@font-face{
	font-family: "Lato Italic";
	src: url("../../fonts/lato/Lato Italic.ttf");
}
@font-face{
	font-family: "Lato Regular";
	src: url("../../fonts/lato/Lato Regular.ttf");
}
@font-face{
	font-family: "Lato Bold";
	src: url("../../fonts/lato/Lato Bold.ttf");
}
@font-face{
	font-family: "HelveticaNeue Regular";
	src: url("../../fonts/helvetica/HelveticaNeue Regular.ttf");
}
@font-face{
	font-family: "HelveticaNeue Bold";
	src: url("../../fonts/helvetica/HelveticaNeue Bold.ttf");
}
@font-face{
	font-family: "Quicksand Bold";
	src: url("../../fonts/quicksand/Quicksand Bold.otf");
}